server {
  location /_health {
    access_log off;
    default_type text/plain;
    return 200 "OK";
  }

  location / {
    proxy_pass ${PROXY_PASS};
    proxy_set_header Host ${PROXY_HOST};
    proxy_ssl_server_name on;
    real_ip_header X-Forwarded-For;
    set_real_ip_from 0.0.0.0/0;
  }
}
